<div class="positionList">
	<h4>Employee Position list</h4>
	<div class="data-table-container position-list-table">
		<table class="data-clickable">
			<tbody>
				<tr>
					<th>name</th>
					<th>description</th>
				</tr>
				<tr
				ng-repeat="position in positions"
				data-id="{{position.id}}"
				ng-click="positionIndex(position)"
				ng-class="{'active': position==editPositionFields}">
					<td name="name">{{position.name}}</td>
					<td name="description">{{position.description}}</td>
				</tr>
			</tbody>
		</table>
	</div>
	<a class="waves-effect waves-light btn" ng-click="editPositionTrigger()">Edit</a>
	<a class="waves-effect waves-light btn" ng-click="removePosition()">Delete</a>
</div>