<div class="addMaterial">
	<h3>Add material</h3>
	<form action="#" ng-submit="addNewMaterial($event)">
		<div class="input-field col s12">
			<input ng-model="addMaterialFields.name" name="name" value="" type="text" class="validate" maxlength="50" required>
			<label for="name">name</label>
		</div>
		<div class="input-field col s12">
			<input ng-model="addMaterialFields.description" name="description" value="" type="text" class="validate" maxlength="50">
			<label for="description">description</label>
		</div>
		<div class="input-field col s12">
			<input ng-model="addMaterialFields.quantity" name="quantity" value="" type="number" class="validate" maxlength="50">
			<label for="quantity">quantity</label>
		</div>
		<button class="waves-effect waves-light btn" type="submit">Add</button>
		<button class="waves-effect waves-light btn">Clear</button>
	</form>
</div>