input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0; }

.container {
  max-width: 1110px;
  width: 90%; }

.b {
  font-weight: 700; }

.noHover {
  pointer-events: none !important; }

.categories .menu {
  padding: 8px 15px;
  overflow: hidden;
  -webkit-transition: max-height 1s ease;
  -moz-transition: max-height 1s ease;
  -ms-transition: max-height 1s ease;
  -o-transition: max-height 1s ease;
  transition: max-height 1s ease; }
.categories table input[type='number'] {
  height: 20px;
  margin: 0;
  width: 60px; }
.categories table thead {
  border-bottom: 0; }
.categories table th, .categories table td {
  padding: 5px 5px; }
  .categories table th button.btn, .categories table td button.btn {
    width: 59px;
    padding: 5px;
    line-height: 1;
    height: 22px;
    font-size: 12px;
    background-color: #4a148c; }
    .categories table th button.btn:hover, .categories table td button.btn:hover {
      background-color: #7c43bd; }
.categories table thead.hideItems {
  width: 100%;
  display: table;
  float: right; }
.categories table tbody {
  -webkit-transition: height 500s linear;
  -moz-transition: height 500s linear;
  -ms-transition: height 500s linear;
  -o-transition: height 500s linear;
  transition: height 500s linear; }
  .categories table tbody.hideItems {
    display: block;
    height: 0;
    overflow: hidden; }
.categories.active {
  display: block; }

.category-list {
  padding: 8px 15px;
  overflow: hidden; }
  .category-list li {
    float: left;
    margin-right: 20px;
    font-size: 24px;
    cursor: pointer;
    color: #4a148c; }
    .category-list li:hover {
      color: #7c43bd; }

.ordered-items {
  position: relative;
  overflow: hidden; }
  .ordered-items .queuedDataMsg {
    position: absolute;
    top: -150px;
    width: 50%;
    margin: 0 auto;
    left: 0;
    right: 0;
    -webkit-transition: top 500ms ease;
    -moz-transition: top 500ms ease;
    -ms-transition: top 500ms ease;
    -o-transition: top 500ms ease;
    transition: top 500ms ease; }
    .ordered-items .queuedDataMsg p {
      padding: 5px 10px;
      background: #fff;
      border-radius: 5px;
      color: #4a148c;
      -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
      box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2); }
    .ordered-items .queuedDataMsg.active {
      top: 4px; }
  .ordered-items .orders {
    padding: 8px 15px; }
    .ordered-items .orders tr {
      position: relative;
      overflow: hidden; }
      .ordered-items .orders tr td, .ordered-items .orders tr th {
        padding: 6px 5px;
        position: relative;
        overflow: hidden; }
        .ordered-items .orders tr td .customPrice, .ordered-items .orders tr th .customPrice {
          position: absolute;
          bottom: -25px;
          -webkit-transition: bottom 200ms ease;
          -moz-transition: bottom 200ms ease;
          -ms-transition: bottom 200ms ease;
          -o-transition: bottom 200ms ease;
          transition: bottom 200ms ease; }
          .ordered-items .orders tr td .customPrice.active, .ordered-items .orders tr th .customPrice.active {
            bottom: -20px; }
          .ordered-items .orders tr td .customPrice input, .ordered-items .orders tr th .customPrice input {
            border-bottom-color: #309b1c;
            height: 31px; }
        .ordered-items .orders tr td .itemDesc, .ordered-items .orders tr th .itemDesc {
          position: absolute;
          background-color: #000;
          bottom: -75px;
          width: 100%; }
  .ordered-items .notes {
    width: 100%;
    margin-bottom: 10px; }
  .ordered-items input {
    margin-top: 0;
    margin-bottom: 0; }
  .ordered-items tr {
    border-bottom: 1px solid #e4e4e4; }
    .ordered-items tr:hover {
      background-color: #e4e4e4; }

.show-on-hover {
  position: relative; }
  .show-on-hover td:first-child,
  .show-on-hover td:last-child {
    position: relative;
    overflow: hidden; }
  .show-on-hover .edit-btn,
  .show-on-hover .close-btn {
    position: absolute;
    min-width: 24px;
    min-height: 24px;
    text-align: center;
    line-height: 0.5;
    background: #4a148c;
    border: 1px solid #fff;
    border-radius: 20px;
    padding: 3px;
    color: #fff;
    line-height: 1;
    -webkit-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    -ms-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    transition: all 300ms ease; }
  .show-on-hover .close-btn {
    right: -50px; }
  .show-on-hover .edit-btn {
    left: -200px;
    width: 90px;
    height: auto;
    font-size: 12px;
    border-radius: 14px;
    padding: 1px; }
  .show-on-hover:hover .close-btn {
    right: 5px; }
  .show-on-hover:hover .edit-btn {
    left: 5px; }

.showOnPrint {
  display: none; }

.clear {
  overflow: hidden; }

.b {
  font-weight: 700; }

@media only screen and (max-width: 820px) {
  .row .col.ms12 {
    width: 100%; } }
@media only screen and (max-width: 700px) {
  .categories table th, .categories table td {
    font-size: 12px; }

  .category-list li {
    font-size: 16px; }

  .data-header {
    padding: 5px 10px; }
    .data-header h4 {
      font-size: 20px;
      padding-top: 3px; } }
@media print {
  .noDisplayOnHardPrint {
    display: none; }

  .pr-pb0 {
    padding-bottom: 0; }

  .pr-pt0 {
    padding-top: 0; }

  .pr-m0 {
    margin: 0 !important; }

  .pr-mb4 {
    margin-bottom: 5px; }

  .pr-mb10 {
    margin-bottom: 10px; }

  .pr-mb20 {
    margin-bottom: 20px; }

  .orders .customPrice {
    display: none; }

  .showOnPrint {
    color: #000;
    display: block; }

  .hideOnPrint {
    display: none; }

  table {
    margin-bottom: 5px; }
    table * {
      font-size: 14px !important;
      margin: 0 !important;
      border: 0 !important; }

  .centerOnPrint {
    text-align: center; }

  .text14pxOnPrint {
    font-size: 20px;
    color: #000 !important; }

  .largeLetter {
    font-size: 24px; }

  body * {
    visibility: hidden; }

  #section-to-print, #section-to-print * {
    visibility: visible; }

  #section-to-print {
    position: absolute;
    left: 0;
    top: 0; }

  @page {
    size: auto;
    /* auto is the initial value */
    margin: 0;
    /* this affects the margin in the printer settings */ } }

/*# sourceMappingURL=operator.css.map */
