<div id="editEmployee" class="modal editEmployee">
	<form ng-submit="editEmployee(selectedEmployeePosition,selectedEmployeeBranch)">
		<div class="modal-content">
			<h4>Edit Employee</h4>
			<div class="input-field col s12">
				<input ng-model="editEmployeeFields.name" name="name" value="" type="text" class="validate" maxlength="50" placeholder='name' required>
				<label for="name">name</label>
			</div>
			<div class="input-field col s12">
				<input ng-model="editEmployeeFields.address" name="address" value="" type="text" class="validate" maxlength="50" placeholder='address'>
				<label for="address">address</label>
			</div>
			<div class="input-field col s12">
				<input ng-model="editEmployeeFields.contact_number" name="contact_number" value="" type="text" class="validate" maxlength="50" placeholder='contact_number'>
				<label for="contact_number">contact_number</label>
			</div>
			<div class="input-field col s12">
				<input ng-model="editEmployeeFields.email" name="email" value="" type="text" class="validate" maxlength="50" placeholder='email'>
				<label for="email">email</label>
			</div>
			<!-- UNDER CONSTRUCTION -->
			<div class="input-field col s12">
				<label for="position_fk" class="active">Position</label>
				<select ng-model="selectedEmployeePosition" ng-options="p.name for p in positions track by p.id"></select>
			</div>
			<div class="input-field col s12">
				<label for="branch_fk" class="active">Branch</label>
				<select ng-model="selectedEmployeeBranch" ng-options="b.name for b in branches track by b.id"></select>
			</div>
			<!-- <p ng-click="test()">selectedEmployeeBranch</p> -->
			<div class="input-field col s12">
				<input ng-model="editEmployeeFields.salary" name="salary" value="" type="number" class="validate" maxlength="50" placeholder='salary' required>
				<label for="salary">salary</label>
			</div>
			<div class="input-field col s12">
				<input ng-model="editEmployeeFields.birth_day" name="birth_day" value="" type="date" class="validate" maxlength="50">
				<label for="birth_day" class="active">birth_day</label>
			</div>
			<div class="input-field col s12">
				<p class="radioButtonContainer">
		      <input type="radio" ng-model="editEmployeeFields.gender" value="1">
		      <label for="test1">Male</label>
		    </p>
				<p class="radioButtonContainer">
		      <input type="radio" ng-model="editEmployeeFields.gender" value="0">
		      <label for="test1">Female</label>
		    </p>
				
				<!-- <input ng-model="editEmployeeFields.gender" name="gender" value="" type="number" class="validate" maxlength="50" placeholder='gender' required> -->
				<label for="gender" class="active">gender</label>
			</div>
		</div>
		<div class="modal-footer">
			<button class="waves-effect waves-light btn" type="submit">Update</button>
		</div>
	</form>
</div>