<div class="employee-list">
	<h3>Employee list</h3>
	<div class="data-table-container">
		<table class="data-clickable">
			<tbody>
				<tr>
					<th>name</th>
					<th>address</th>
					<th>contact_number</th>
					<th>email</th>
					<th>position</th>
					<th>branch_fk</th>
					<th>salary</th>
					<th>birth_day</th>
					<th>gender</th>
				</tr>
				<tr ng-click="getEmployeeInfo(x)" ; ng-repeat="x in employees" ng-class="{'active': x==editEmployeeFields}" data-id="{{x.id}}">
					<td>{{x.name}}</td>
					<td>{{x.address}}</td>
					<td>{{x.contact_number}}</td>
					<td>{{x.email}}</td>
					<td>{{x.position_name}}</td>
					<td>{{x.branch_name}}</td>
					<td>{{x.salary}}</td>
					<td>{{x.birth_day|shortDateFromat}}</td>
					<td>{{x.gender|gender}}</td>
				</tr>
			</tbody>
		</table>
	</div>
	<a class="waves-effect waves-light btn" ng-click="editEmployeeData()">Edit</a>
	<a class="waves-effect waves-light btn" ng-click="deleteEmployee()">Delete</a>
	<a class="waves-effect waves-light btn" ng-click="newEmployeeAccess()">Add Access</a>
</div>