<div class="addItem">
	<h3>Item</h3>
	<form action="#" ng-submit="addNewItem($event)">
		<div class="input-field col s12">
			<input ng-model="itemFields.name" value="" type="text" class="validate" maxlength="50" required>
			<label for="name">name</label>
		</div>
		<div class="input-field col s12">
			<input ng-model="itemFields.code" value="" type="text" class="validate" maxlength="10">
			<label for="item_code">item_code</label>
		</div>
		<div class="input-field col s12">
			<label class="active">Category</label>
			<select name="itemCategory" id="category" ng-model="itemFields.category" required>
				<option value="" disabled selected>Choose your option</option>
				<option value="{{c.id}}" ng-repeat="c in categories">{{c.name}}</option>
			</select>
			<!-- <label>Category</label> -->
		</div>
		<div class="input-field col s12">
			<input ng-model="itemFields.price" value="" type="number" class="validate" maxlength="11" step="0.01">
			<label for="price">price</label>
		</div>
		<button class="waves-effect waves-light btn" type="submit">Add</button>
	</form>
	<a class="waves-effect waves-light btn">Clear</a>
</div>