<div class="itemMaterialTable">
	<h3>Affected Materials</h3>
	<p class="bold">Product name: {{editItemFields.name}}</p>
	<div class="data-table-container">
		<table class="data-clickable">
			<tbody>
				<tr>
					<th>Material</th>
					<th>Quantity</th>
				</tr>
				<tr ng-repeat="x in itemMaterials" ng-click="itemMaterialIndex($index,x)" ng-class="{'active': x === editAffectedMaterial}">
					<td>{{x.material_name}}</td>
					<td>{{x.material_quantity_needed}}</td>
				</tr>
			</tbody>
		</table>
	</div>
	<a class="waves-effect waves-light btn" ng-click="editItemMaterialsTrigger()">Edit</a>
	<a class="waves-effect waves-light btn" ng-click="removeItemAffectedInMaterial($event)">Delete</a>
</div>