<div class="item-list-table">
	<h3>Item list</h3>
	<input ng-model="itemFilter" type="text" placeholder="item filter">
	<div class="data-table-container">
		<table class="data-clickable">
			<tbody>
				<tr>
					<th>name</th>
					<th>code</th>
					<th>category_fk</th>
					<th>date_modified</th>
					<th>price</th>
				</tr>
				<tr ng-repeat="i in items | filter:itemFilter" data-id="{{i.id}}" ng-click="itemIndex($index,i.id)">
					<td>{{i.name}}</td>
					<td>{{i.item_code}}</td>
					<td>{{i.category_fk}}</td>
					<td>{{i.date_modified}}</td>
					<td>{{i.price}}</td>
				</tr>
			</tbody>
		</table>
	</div>
	<a class="waves-effect waves-light btn" ng-click="editItemsTrigger()">Edit</a>
	<a class="waves-effect waves-light btn" ng-click="deleteItem()">Delete</a>
</div>